unset pager
search --file /g2ldr --set=root
if [ ! "${theme}" = "" ]; then set theme=$prefix/themes/grub2_e2b/theme_backup.txt ; fi
set isopath=${keepisopath}/BACKUP
set isofpath=${keepisofpath}/BACKUP

set default=1
#get user config, defaults, etc.
unset fnd
for cfg_file in $isofpath/grub2/defaults.txt; do
    echo "Found $cfg_file"
    source $cfg_file
	set fnd=1
done

#### MENUS

menuentry "Main menu                 [F8]" --hotkey f8 --unrestricted --class arrow_left{
	echo "return to main menu [F8]"
    search --file /g2ldr --set=root
	configfile "${prefix}/main.cfg"
}

# ######## GET .grub2 MENU FILES  ########
set ip=$isopath ; set ifp=$isofpath
echo Looking for .grub2 files in $isopath...
for cfg_file in $isofpath/grub2/*.grub2; do
    echo "Found $cfg_file"
    source $cfg_file
	set fnd=1
done
# NOW MNU sub-folder
set isopath=${isopath}/MNU
set isofpath=${isofpath}/MNU
echo Looking for .grub2 files in $isopath...
for cfg_file in $isofpath/grub2/*.grub2; do
    echo "Found $cfg_file"
    source $cfg_file
	set fnd=1
done
# Restore back
#set isopath=$keepisopath ; set isofpath=$keepisofpath
set isopath=$ip ; set isofpath=$ifp

if [ $fnd = "1" ]; then 
	if [ $showdelay -ge 10 ]; then
		echo "Press [ENTER] to continue..."
		read
	else
		sleep $showdelay;
	fi
fi
unset fnd


# ##### END OF MENU COLLECTING #####
menuentry "Reboot                    [F9]" --unrestricted --class icon-reboot --hotkey f9{	echo "System rebooting..."; 	reboot;}
menuentry "Shutdown                  [F10]" --unrestricted --class icon-shutdown --hotkey f10{	echo "System shutting down...";	halt;}


menuentry "Main menu                 [F8]" --hotkey f8 --unrestricted --class arrow_left{
	echo "return to main menu [F8]"
    search --file /g2ldr --set=root
	configfile "${prefix}/main.cfg"
}


